body {
    font-family: 'Work Sans', sans-serif;    
    margin: 0;
}
header {
    background-color: #70a48b;
    padding: 20px;
    text-align: center;
}
#log {
    padding-bottom: 1.0em;
}
.list-container {
    margin: 5px;
}
a {
    text-decoration: none;
    color: white;
    margin: 5px;
    
}
ul {
    display: inline;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.6em;
    padding: 1.0em 0.6em;
}
li {
    display: inline;
  justify-content: flex-end;
  padding: 5px;

}
.donation-link {
    background-color:#1f211c;
    border-radius: 10px;
    padding: 0.6em;
}
.info {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 20px;
    
}
p {
    font-size: 0.9em;
    margin: 10px;
}

h3 {
    padding: 5px 15px;
    margin: 2px;

}
button {
    color: white;
    background-color:#70a48b;
    border: 2px solid #1f211c;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;
    padding: 1.0em;    
    flex-direction: column;
}
.grid {
    margin: 0;
    padding: 1px;
    box-sizing: border-box;
    grid-template-rows: auto;
}
#cat {
    border-radius: 10px;
}

.left {
    float: left;
    display: inline;
    border-radius: 10px;
    margin: 5px;
    width: 200px;  
    object-fit: scale-down;
}
.right {
    float: left;
     display: inline;
     border-radius: 10px;
    margin: 5px;
    width: 200px;    
    object-fit: scale-down;
}
img {
    border-radius: 10px;
}
.pets-images {
    margin-left: 5px;
}

footer {
    background-color: #70a48b;
    border-radius: 0 0 10px 10px;
    text-align: left;
    position: fixed;
    left: 0;
    bottom: 0;
    object-fit: scale-down;
    width: 100%;
}
.footer-logo {
    margin-left: 5px;
}

@media screen and (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
    }
    .list-container {
        position: fixed;
        right: 15px;
        top: 50px;
        font-size: 1.5em;        
    }
    .side-by-side-main {
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    
    .info {
        width: 25%;
        text-align: left;
        padding-top: 10;
        padding-left: 1.5em;
        padding-right: 2.0em;
    }
    h3 {
        padding-bottom: 10px;
        padding-top: 0;
    }
    .pets-images {
        position: fixed;
        right: 15px;
        top: 100px;
        width: 50%;
        padding-left: 5px;
        padding-right: 10px;
        padding-top: 50px;
        object-fit: scale-down;
    }  
}